################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AcqureCoreAng/AcqureCoreAng.Web/obj
/AcqureCoreAng/.vs
/AcqureCoreAng/AcqureCoreAng.Web/bin/Debug/netcoreapp2.1
/AcqureCoreAng/AcqureCoreAng.Web/node_modules/jquery
/AcqureCoreAng/AcqureCoreAng.Web/node_modules/bootstrap
/AcqureCoreAng/AcqureCoreAng.Web/node_modules/font-awesome
