@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Acquire Core Angular: @ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />

</head>
<body>
    <header class="container">
        <h1>Welcome to Acqiure Core Angular</h1>
        <menu>
            <ul>
                <li><a asp-controller="App" asp-action="Index">Home</a></li>
                <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
                <li><a asp-controller="App" asp-action="About">About</a></li>
            </ul>
        </menu>
    </header>
    <section class="container">
        <h2 class="text-center">
            <i class="fa fa-paint-brush"></i>
            @ViewBag.Title
        </h2>
        @RenderBody()
    </section>
<footer class="container">
    <div class="text-center">Copyright 2018 by Nothing</div>
</footer>

    @*<script src="/node_modules/jquery/dist/jquery.min.js"></script>*@
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    @*<script src="js/index.js"></script>*@
    <script src="~/js/index.js"></script>

    @RenderSection("scripts", false)
</body>
</html>