@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html>
<head>
    <title>Acquire Core Angular: @ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
<h2>@ViewBag.Title</h2>
<div class="mainDivWrapper">
    <div style="display: grid;">
        <div>
            <img class="itemDemoLogo" src="~/img/examlple.jpg"/>
            <h2>Item of Symbol</h2>
            <ul class="product-props">
                <li>Price 999.99$</li>
                <li>Name: Special supply</li>
                <li>Description: Very great!</li>
            </ul>
            <button id="buyButton">Buy</button>
        </div>
    </div>

    <div>
        <form id="theForm">
            <label>Your Name:</label>
            <br/>
            <input/>
            <br/>
            <label class="bluetext">Email:</label>
            <br/>
            <input type="email"/>
            <br/>
            <label>Subject:</label>
            <br/>
            <input type="text"/>
            <br/>
            <label>Message:</label>
            <br/>
            <textarea rows="4"></textarea>
            <br/>
            <input type="submit" value="Send Message"/>
        </form>
    </div>
</div>
<div>
    <div id="loginToggle">Login</div>
    <form class="popup-form">
        <div>
            <label>UserName</label>
            <input/>
        </div>
        <div>
            <label>Password</label>
            <input type="password"/>
        </div>
        <div>
            <input type="checkbox"/>
            <label>Remember Me?</label>
        </div>
        <div>
            <input type="submit" value="Login"/>
        </div>


    </form>
</div>
<script src="~/node_modules/jquery/dist/jquery.min.js"></script>
<script src="~/js/index.js"></script>
</body>
</html>